* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    font-size: 2rem;
}

.vertical{
    background-color: beige;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.principal{
    background-color: black;
    color: white;
    flex-grow: 1;
    padding: 10px;
}

@media (max-width: 640px){
    body{
        flex-direction: column-reverse;
    }

    .vertical{
        flex-direction: row;
        justify-content: space-evenly;
    }
}